/* Styles pour les cercles */
.circle {
    position: absolute;
    border-radius: 50%;
    animation: blink 1s alternate infinite; /* Animation de clignotement */
  }
  
  /* Animation de clignotement */
  @keyframes blink {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  /* Conteneur pour les cercles */
  .circle-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  